<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.java</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>Cookie.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>Cookie.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>Cookie.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>Cookie.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Cookie.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpDateServlet</servlet-name>
        <servlet-class>control.UpDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>control.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>control.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellDetails</servlet-name>
        <servlet-class>control.SellDetails</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpDateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/oderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellDetails</servlet-name>
        <url-pattern>/selldetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
